- return if Feature.disabled?(:compliance_pipeline_in_policies, @group) && Feature.disabled?(:security_policies_policy_scope, @group)

- terms_link_start = '<a href="https://about.gitlab.com/handbook/legal/testing-agreement/" target="_blank" rel="noopener noreferrer">'.html_safe

%h5
  = s_('GroupSettings|Security policy management')
%p
  = s_('GroupSettings|When you enable any of these features, you accept the %{link_start}GitLab Testing Agreement%{link_end}.').html_safe % { link_start: terms_link_start, link_end: '</a>'.html_safe }

= render_if_exists 'groups/settings/security/security_policies_custom_ci', f: f, group: @group
